# Temporarily generated library folders
doc/source/xml/
html/
latex/

# QtCreator
CMakeLists.txt.user

# Python
*.pyc
*.pyo
*.coverage

# Rmarkdown
.RData
.Rhistory
sara_book.log
_book/
_bookdown_files/

# Mac crap
.DS_Store


# Project-specific files
cmake/sara_version.cmake
compile_commands.json

.gdb_history
