[submodule "third-party/libjpeg"]
	path = third-party/libjpeg
	url = https://github.com/LuaDist/libjpeg.git
[submodule "third-party/libpng"]
	path = third-party/libpng
	url = https://github.com/LuaDist/libpng.git
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/LuaDist/zlib.git
[submodule "third-party/libtiff"]
	path = third-party/libtiff
	url = https://github.com/LuaDist/libtiff.git
