# Temporarily generated library folders
doc/source/xml/
html/
latex/

# QtCreator
CMakeLists.txt.user

# Python
*.pyc
*.pyo
*.coverage

# Rmarkdown
.RData
.Rhistory
sara_book.log
_book/
_bookdown_files/

# CMake
cmake/sara_version.cmake
compile_commands.json

# GDB
.gdb_history

# Mac crap
.DS_Store
