# Data
**/assets/
**/yolov*/
doc/source/xml/
html/
latex/

# Model weights.
*.weights
*.onnx
# TensorRT optimized model.
*.bin

# QtCreator
CMakeLists.txt.user

# Python
*.pyc
*.pyo
*.coverage

# Rmarkdown
.RData
.Rhistory
sara_book.log
_book/
_bookdown_files/

# cache folder
.cache

# NPM
**/node_modules/

# CMake
cmake/sara_version.cmake
compile_commands.json

# GDB
.gdb_history

# Mac crap
.DS_Store
