@import url('http://fonts.cdnfonts.com/css/tex-gyre-heros');
@import url('http://fonts.cdnfonts.com/css/latin-modern-roman');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.book.font-family-0 {
  font-family: "LMRoman10", "Computer Modern Serif", times, Georgia, serif;
}

.book.font-family-1 {
  font-family: "Open Sans", "TexGyreHeros", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.puzzle, div.fyi, div.demo, div.note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #1f5386;
  background-color: #bed3ec;
  border: solid 5px #dfedff;
}

div.puzzle {
  background-image: url("div-icons/Your-turn.png");
}

div.fyi {
 background-image: url("div-icons/fyi.png");
}

div.demo {
  background-image: url("div-icons/Live-code.png");
}

div.note {
  background-image: url("div-icons/lightbulb.png");
}
