<nav class="text-center rounded-lg px-30 py-2 text-slate-700 font-medium ">
	<a class="px-2 hover:bg-slate-100 hover:text-slate-900" href="/">Home</a>
	<a class="px-2 hover:bg-slate-100 hover:text-slate-900" href="/video">Video</a>
	<a class="px-2 hover:bg-slate-100 hover:text-slate-900" href="/about">About</a>
</nav>
